# Backend environment variables
PORT=8000
MONGODB_URI=mongodb://localhost:27017/expense_intel
UPLOAD_DIR=uploads
ALLOWED_ORIGINS=http://localhost:5173

VITE_SUPABASE_URL="https://sasktxbzcuwgbherezqp.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNhc2t0eGJ6Y3V3Z2JoZXJlenFwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY3NzI3NTgsImV4cCI6MjEwMjM0ODc1OH0.j6Tp2j-yhVs6_A0HJOpgzCf6ujxdoXgenp5FH85kAt4"
